# JSON files
*.json

# ASCII files
*.asc

# bin files
*.bin

# rpt files
*.rpt

# rpt files
*.vcd

# log directories
**/log*/*

# dot directories
**/dot/*

# Verilator output
rtl/sim/obj_dir/*

# iVerilog output files
rtl/sim/xosera_tb

# host_spi executable
host_spi/host_spi

# utils executable
utils/image_to_mem

# macOS thing
.DS_Store
