# JSON files
*.json

# ASCII files
*.asc

# bin files
*.bin

# rpt files
*.rpt

# log directories
**/log*/*

# dot directories
**/dot/*

# Verilator output
sim/obj_dir/*

# host_spi executable
host_spi/host_spi

# iVerilog output files
sim/xosera_tb
sim/xosera_tb.vcd
.DS_Store
utils/image_to_mem
